.header {
  position: fixed;
}

.home-hero-img-container {
  background: url('../images/the_silent_killer.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 1920px;
  max-width: 100%;
  min-height: 800px;
  margin: -15px auto;
  padding: 0;
  z-index: -1;
}

.hero-text-content {
  color: #fff;
  text-align: center;
  background-color: rgba(72, 67, 58, .4);
  margin-top: 150px;
  margin-left: 40px;
  position: absolute;
  line-height: 120px;
  padding: 10px;
  font-size: 100px;
  z-index: 1;
}

.content {
  min-height: 1000px;
}

.main.container.form {
  width: 40%;
  margin-top: 10em;
  padding: 40px;
  box-shadow: rgb(170, 170, 170) 0px 8px 32px;
}

.main.container.wide {
  width: 80%;
  margin-top: 1em;
  padding: 40px;
  box-shadow: rgb(170, 170, 170) 0px 8px 32px;
}

.four.wide.column {
  margin-top: 20px;
  padding: 40px;
  vertical-align: center;
  text-align: center;
}

ui.segment.statistics {
  margin-top: 40px;
  
}

.data-display {
  color: #40BAE3;
  font-size: 4rem;
}


.map.container {
  margin-top: 7em;
  width: 80% !important;
}



.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}
